:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.swal2-shown {
  z-index: 9999 !important;
}

.swal2-container {
  position: fixed !important;
  /* Asegura que se coloque de forma fija */
  z-index: 9999 !important;
  /* Ajusta el z-index a un valor alto */
}

body.swal2-shown {
  padding-right: 0 !important;
  /* Quita el padding-right */
}


/* --- Scroll suave --- */
html {
  scroll-behavior: smooth;
}

/* --- Scrollbar (para navegadores basados en WebKit: Chrome, Edge, Safari) --- */
::-webkit-scrollbar {
  width: 8px;
  /* ancho de la barra */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* fondo transparente */
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  /* color rojo para el "pulgar" */
  border-radius: 10px;
  /* bordes redondeados */
}

/* --- Scrollbar para Firefox --- */
* {
  scrollbar-width: thin;
  /* delgada */
  scrollbar-color: #999999 transparent;
  /* barra roja, fondo transparente */
}

/* Override Next.js dev portal position (persisted from browser preview) */
nextjs-portal {
  left: unset;
  top: unset;
}